<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>

<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>


	<div class="card border-info mb-3" style="margin: 25px;">
		<div class="card-header" style="text-align: center">
			<h3>Cari Pegawai</h3>
		</div>
		<div class="card-body">
			<div class="container">
				<form th:action="@{/pegawai/cari}" th:object="${pegawai}"
					method="GET">
					<div class="form-group">
						<label for="provinsi">Provinsi</label> <select
							class="form-control" required="required" name="idProvinsi"
							id="provinsi">
							<option disabled="disabled" selected="selected">Pilih
								Provinsi</option>
							<option th:each="provinsi : ${listProvinsi}"
								th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="instansi">Nama Instansi</label> <select
							class="custom-select" name="idInstansi" id="instansi"
							required="required">
							<option disabled="disabled" selected="selected">Pilih
								Instansi</option>
							<option th:each="instansi : ${listInstansi}"
								th:value="${instansi.id}" th:text="${instansi.nama}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="jabatan">Jabatan</label> <select style="margin: 5px;"
							class="custom-select" name="idJabatan">
							<option disabled="disabled" selected="selected">Pilih
								Jabatan</option>
							<option th:each="jabatan : ${listJabatan}"
								th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Cari</button>
				</form>
			</div>
		</div>
	</div>

	<div class="card border-info mb-3 text-center" style="margin: 25px;">
		<div class="card-header">
			<h3>Daftar Jabatan</h3>
		</div>
		<div class="card-body">
			<div class="container">
				<table id="table_id"
					class="display table table-borderless table-striped">
					<thead>
						<tr>
							<th>No.</th>
							<th>NIP</th>
							<th>Nama</th>
							<th>Tempat Lahir</th>
							<th>Tanggal Lahir</th>
							<th>Tahun Masuk</th>
							<th>Jabatan</th>
						</tr>
					</thead>
					<tr th:each="pegawai,iterationStatus : ${listPegawai}">
						<td th:text="${iterationStatus.count}"></td>
						<td th:text="${pegawai.nip}"></td>
						<td th:text="${pegawai.nama}"></td>
						<td th:text="${pegawai.tempatLahir}"></td>
						<td th:text="${pegawai.tanggalLahir}"></td>
						<td th:text="${pegawai.tahunMasuk}"></td>
						<td>
							<ul th:each="jabatan : ${pegawai.jabatan}">
								<li th:text="${jabatan.nama}" />
							</ul>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

<script th:inline="javascript">
	$(document).ready(function() {
		$('#table_id').DataTable();
	});

	$('#provinsi')
			.change(
					function() {
						console.log($(this).val());
						value = $(this).val();
						$
								.getJSON(
										"/instansi/getInstansiByProvinsi",
										{
											idProvinsi : value,
											ajax : 'true'
										},
										function(data) {
											var html = '';
											var size = data.length;
											html += '<option disabled="disabled" selected="selected" >Pilih Instansi</option>';
											for (var i = 0; i < size; i++) {
												html += '<option value="' + data[i].id + '">'
														+ data[i].nama
														+ '</option>';
											}
											$('#instansi').html(html);
										});
					});
</script>
</html>