<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Pegawai</title>

<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>


	<div class="card border-info mb-3 text-center" style="margin: 25px;">
		<div class="card-header">
			<h3 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h3>
		</div>
		<div class="card-body">
			<div class="container">
				<table class="table table-borderless table-striped">
					<tbody>
						<tr>
							<th>NIP</th>
							<td th:text="${pegawai.nip}"></td>
						</tr>
						<tr>
							<th>Nama</th>
							<td th:text="${pegawai.nama}"></td>
						</tr>
						<tr>
							<th>Tempat Lahir</th>
							<td th:text="${pegawai.tempatLahir}"></td>
						</tr>
						<tr>
							<th>Tanggal Lahir</th>
							<td th:text="${pegawai.tanggalLahir}"></td>
						</tr>
						<tr>
							<th>Tahun Masuk</th>
							<td th:text="${pegawai.tahunMasuk}"></td>
						</tr>
						<tr>
							<th>Nama Instansi</th>
							<td th:text="${pegawai.instansi.nama}"></td>
						</tr>
						<tr>
							<th>Jabatan</th>
							<td>
								<ul th:each="jabatan : ${pegawai.jabatan}">
									<li th:text="${jabatan.nama}" />
								</ul>
							</td>
						</tr>
						<tr>
							<th>Gaji</th>
							<td th:text="'Rp.'+${gaji}"></td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{/pegawai/ubah?nip={nip}(nip=${pegawai.nip})}">
					<button type="submit" class="btn btn-primary">Ubah</button>
				</a>
			</div>
		</div>
	</div>

</body>
</html>